extends layout 

block content 
    div(class='genre-detail-container')
        h1 Genre: #{genre.name}

            h4 Songs 
            if genre_songs.length 
                p 
                    each song in genre_songs 
                        p 
                            a(href=song.url) #{song.title}

            else 
                p This genre has no songs.

    p
        a(href=genre.url + '/delete') Delete genre