extends layout 

block content 

    h1 #{title}

    form(method='POST')
        div.form-container
            label(for='name') Genre: 
            input#name(type='text' placeholder='Dubstep, Drumstep, DnB' name='name' required value=(undefined===genre ? '' : genre.name))
            button(type='submit') Submit 
    if errors 
        ul 
            for error in errors 
                li!= error.msg
