doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    div(class='container')
      div(class='row')
        div(class='nav-container')
          block sidebar 
            div(class='sidebar-nav')
              button(class='home-button')
                a(href='/store') Music
              button(class='home-button') 
                a(href='/store/songs') Songs
              button(class='home-button')  
                a(href='/store/authors') Authors
              button(class='home-button')  
                a(href='/store/genres') Genres
              button(class='home-button') 
                a(href='/store/albums') Albums
              button(class='home-button') 
                a(href='/store/song/create') Create new song 
              button(class='home-button')
                a(href='/store/author/create') Create new author 
              button(class='home-button')
                a(href='/store/genre/create') Create new genre 
              button(class='home-button')
                a(href='/store/album/create') Create new album

          div(class='column')
            block content